[Unit]
Description=immich web server
Documentation=https://github.com/immich-app/immich
Requires=redis-server.service
Requires=postgresql.service
Requires=immich-ml.service

[Service]
User=immich
Group=immich
Type=simple
Restart=on-failure
UMask=0077

EnvironmentFile=/home/immich/.config/immich-in-lxc/runtime.env
ExecStart=/usr/local/libexec/immich-in-lxc/service-launch.sh web /home/immich/.config/immich-in-lxc/runtime.env

SyslogIdentifier=immich-web
StandardOutput=append:/var/log/immich/web.log
StandardError=append:/var/log/immich/web.log

[Install]
WantedBy=multi-user.target
