[Unit]
Description=immich machine-learning
Documentation=https://github.com/immich-app/immich

[Service]
User=immich
Group=immich
Type=simple
Restart=on-failure
UMask=0077

EnvironmentFile=/home/immich/.config/immich-in-lxc/runtime.env
ExecStart=/usr/local/libexec/immich-in-lxc/service-launch.sh ml /home/immich/.config/immich-in-lxc/runtime.env

SyslogIdentifier=immich-machine-learning
StandardOutput=append:/var/log/immich/ml.log
StandardError=append:/var/log/immich/ml.log

[Install]
WantedBy=multi-user.target
